<nav class="navbar navbar-expand justify-content-between bg-dark">
  <a class="navbar-brand">Valar Morghulis</a>
  <div *ngIf="afAuth.user | async as user">
    <a class="navbar-brand mr-0" routerLink="/logout" routerLinkActive="active">
      <img src="{{user.photoURL}}" height="40" alt="">
    </a>
    <span class="d-none d-md-inline pl-2">{{user.displayName }}</span>
  </div>
</nav>


<ul class="bg-dark nav nav-pills sticky-top pt-2">
  <li class="nav-item pr-2">
    <a class="nav-link" routerLink="/my-entry" routerLinkActive="active">My Entry</a>
  </li>
  <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/my-picks" routerLinkActive="active">My Picks</a>
    </li> -->
  <li class="nav-item pl-2">
    <a class="nav-link" routerLink="/standings" routerLinkActive="active">Standings</a>
  </li>
</ul>