<div class="card bg-dark m-3">
  <div class="card-header">
    <h3>Gameplay Rules (Most Points Wins)</h3>
  </div>
  <div class="card-body">
    <h4>Pick Em' Rules</h4>
    <h5>Predict if the character lives or dies</h5>
    <p class="pl-3">
      Main Characters: 10pts <br>
      Secondary Characters: 5pts
    </p>
    <h5>Predict if the character becomes a wight walker after death</h5>
    <p class="pl-3">
      This is optional<br>
      Correct guesses: 4pts <br>
      Incorrect guesses: -4pts
    </p>
    <h5>Predict which episode character dies</h5>
    <p class="pl-3">
      Correct guesses: 8pts<br>
    </p>
    <h5>Predict who the character is killed by (non-wights)</h5>
    <p class="pl-3">
      If you believe the character will be killed by another character and not a Wight, predict who you think it will
      be<br>
      Correct guesses: 15pts
    </p>

    <h4>Sure Thing Multiplier</h4>

    <h5>Choose 5 character that are "Sure Things"</h5>
    <p class="pl-3">
      If your prediction for that character is correct, the score gained for that character is multiplied by 1.5
    </p>
    <p class="pl-3">
      Ex: You correctly predict it's a Sure Thing Jon Snow is gonna live:<br>
      10pts * 1.5 = 15pts gained
    </p>

    <h4>Predict the Outcome Bonuses</h4>
    <h5>Gain points for answering the bonus questions correctly</h5>
    <p class="pl-3">
        Each question will have a corresponding point total
      </p>
  </div>
</div>

<!-- <div class="card bg-dark m-3">
  <div class="card-header">
    <h5>Sure Thing Multiplier</h5>
  </div>
  <div class="card-body">

  </div>
</div>

<div class="card bg-dark m-3">
  <div class="card-header">
    Guess the Outcome
  </div>
  <div class="card-body">

  </div>
</div> -->