<div class="card bg-dark m-3">
  <div class="card-header">
    <h5>Pick Em' Rules</h5>
  </div>
  <div class="card-body">
    <h5>Choose if the character lives or dies</h5>
    <p class="pl-3">
      Main Characters: 10pts <br>
      Secondary Characters: 5pts
    </p>
    <h5>Choose if the character becomes Wight after death</h5>
    <p class="pl-3">
      This is optional<br>
      Correct guesses: 4pts <br>
      Incorrect guesses: -4pts
    </p>
    <h5>Choose which episode character dies</h5>
    <p class="pl-3">
      Correct guesses: 8pts<br>
    </p>
    <h5>Choose which character the dead character is killed by (non Wights)</h5>
    <p class="pl-3">
      If you believe the character will be killed by another character and not a Wight, choose who you think it will be<br>
      Correct guesses: 15pts
    </p>
  </div>
</div>

<div class="card bg-dark m-3">
  <div class="card-header">
    Sure Thing Multiplier
  </div>
  <div class="card-body">

  </div>
</div>

<div class="card bg-dark m-3">
  <div class="card-header">
    Guess the Outcome
  </div>
  <div class="card-body">

  </div>
</div>