<nav class="navbar navbar-expand bg-dark">
  <ul class="nav nav-pills nav-fill w-100">
    <li class="nav-item pl-2 pr-2">
      <a class="nav-link" routerLink="/my-entry/make-picks" routerLinkActive="active">Pick Em'</a>
    </li>
    <li class="nav-item pl-2">
      <a class="nav-link" routerLink="/my-entry/bonus-questions" routerLinkActive="active">Guess the Outcome</a>
    </li>
    <li class="nav-item pr-2">
      <a class="nav-link" routerLink="/my-entry/rules" routerLinkActive="active">Rules</a>
    </li>
  </ul>
</nav>