<ul class="bg-dark nav nav-pills sticky-top pt-2 secondary">
    <li class="nav-item pr-2">
      <a class="nav-link" routerLink="/scoring/standings" routerLinkActive="active">Standings</a>
    </li>
    <!-- <li class="nav-item pr-2 pl-2">
      <a class="nav-link" routerLink="/scoring/bonus-questions" routerLinkActive="active">Guess the Outcome</a>
    </li>
    <li class="nav-item pl-2">
      <a class="nav-link" routerLink="/scoring/rules" routerLinkActive="active">Rules</a>
    </li> -->
  </ul>