@import "~bootstrap/dist/css/bootstrap.css";


.bg-dark{
    color: white;
}

.nav, .card-header, .navbar{
    font-weight: bold;
}

.nav-pills .nav-link.active {
    background-color: rgba(255, 0, 0, 0.5);
}

.nav-pills.secondary .nav-link.active {
    background-color: #21618C;
}



.nav-pills .nav-link:not(.active) {
    background-color: rgba(231, 229, 229, 0.2);
    color: white;
}


html body{
    background-color: #E5E8E8;
}